body{
  margin: 0;
  padding: 0;
  background: -moz-radial-gradient(center, ellipse cover, #386599 0%, #449fe5 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #386599 0%,#449fe5 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #386599 0%,#449fe5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

*{
  transition: all .55s;
  font-family: 'Raleway', sans-serif;
}

.home-page{
  margin: 0;
  padding: 20px;
  color: green;
  color: #fafbfc;
}

.hello{
  margin: 0;
  padding: 20px;
  color: purple;
  color: #fafbfc;
}

.home-container{
  text-align: center;
  margin: 200px;
}

.list-style{
  margin: 0;
  padding: 0;
  background-color: #fafbfc;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.li-item{
  font-size: 22px;
  cursor: pointer;
  display: block;
  padding: 40px 20px;
}

.li-item a{
  color: #777;
  text-decoration: none;

}

.li-item:hover{
  a{
    color: #3e83c1;
  }
}

.li-item:hover{
  box-shadow: inset 0px -7px 0px 0px #3e83c1;
}

// - - -

.first-cont-title{
  margin: 0;
  padding: 20px;
  color: #fafbfc;
}

.first-block-view{
  text-align: center;
  margin: 170px;
}

.carousel{
  color: #fff;
}

.first-input{
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  width: 50%;
  height: 30px;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 0 20px;
}

.first-input:hover{
  box-shadow: 0px 0px 0px 5px #fff;
}

a.return-link{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 20px;
  background-color: transparent;
  border-radius: 40px;
  border: solid 2px transparent;
}

a.return-link:hover{
  border: solid 2px #fff;
}

.render-text-style{
  color: #fff;
  margin-bottom: 50px;
}

// - - -

.button-1{
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 20px;
  background-color: transparent;
  border-radius: 40px;
  border: solid 2px #fff;
  outline: none;
}

.button-1:active{
  border: solid 2px transparent;
}

.styles-for-bntns{
  margin-bottom: 40px;
  color: #fff;
}

.title-next-style{
  color: #fff;
}

.style-subtitle{
  color: #fff;
}

// - - -

.app-cont{
  text-align: center;
  margin-bottom: 25px;
}

.previous-image{
  border-radius: 25px;
}

// - - -

.timer-container{
  text-align: center;
  margin-top: 130px;
}

.active-change{

}

.counter{
  margin: 0 10px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 20px;
  background-color: transparent;
  border-radius: 40px;
  border: solid 2px transparent;
}

.counter:hover{
  border: solid 2px #fff;
}

.counter-value{
  margin: 35px 35px 0 35px;
  color: #fff;
  font-size: 100px;
}

.title-timer{
  color: #fff;
}
